numpy<2.0.0
faiss-cpu
torch
sentence-transformers
openai-whisper
langchain-community
langchain-huggingface
whisper
PyPDF2
pytesseract
Pillow
beautifulsoup4
youtube-transcript-api
yt-dlp
pytube
newspaper3k
python-dotenv
requests
